<div id="welcome-page" class="container-fluid">
    <div id="introductionCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#introductionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#introductionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#introductionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {{!-- we can create a database to load this carousel - later --}}
            <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1626081708119-99cb0eff1f4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="3D image">
            </div>
            <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="Thunder night time">
            </div>
            <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1474767821094-a8fe9d8c8fdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="Programmer looking at the screen">
            </div>
    </div>
    <div id="welcome-text">
    <h1>Welcome to our blog website. Place you can share your thought on every aspect of the world</h1>
    <div id="welcome-selection">
        <button type="button" class="btn btn-success">View blogs</button>
        <button type="button" class="btn btn-success">Create your own</button>
    </div>
    </div>
</div>
